body {
    background-color: white;
}

.container#home{
    display: grid;
    grid-template-rows: 25vh 15px 1.8fr 1fr 1fr;
}

.description {
    color: #f07167;
    text-align: center;
    font-size: 23px;
    grid-row: 2/3;
    font-family: "HelveticaNeue", "Helvetica Neue";
    margin-right: 12px;
}

.title {
    color: #0081a7;
    text-align: center;
    font-size: 70px;
    grid-row: 3/4;
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
    letter-spacing: 18px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-row: 4/5;
    width: 65%;
    margin: 0 auto;
}

.custom {
    height: 75px;
    width: 170px;
    font-size: 22px;
    background-color: white;
    color: #f07167;
    font-family: "HelveticaNeue-Thin", "Helvetica Neue";
    vertical-align: middle;
    padding-top: 22px;
    margin: 0 10px;
    border-radius: 0;
}

@media (max-width: 767px) {
    .container#home {
        grid-template-rows: 15vh 20px 0.8fr 1fr 0.2fr;
    }
    .buttons {
        flex-wrap: wrap;
        justify-content: center;
    }
    .custom{
        margin: 10px 0;
    }
    .description {
        font-size: 20px;
    }
    .title {
        margin-bottom: 0;
        font-size: 60px;
    }
}

#navbarNav {
    justify-content: right;
}

.navbar {
    display: flex;
    justify-content: right;
}

.navbar-nav {
    margin-right: 18%;
    gap: 55px;
    font-size: 25px;
    letter-spacing: 3px;
    font-family: "HelveticaNeue-Thin", "Helvetica Neue";
}

.nav-item {
    color: #f07167!important;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #98423c!important;
}

.navbar-expand-lg {
    justify-content: space-between;
}

.navbar-brand {
    margin-left: 10%;
    font-size: 35px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue";
    letter-spacing: 7px;
    color: #0081a7!important;
}

.bg-light {
    background-color: #fed9b7!important;
}

.heading {
    text-align: center;
    color: #0081a7;
    font-size: 50px;
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
    letter-spacing: 18px;
    padding-bottom: 25px;
}

.container#skills {
    display: grid;
    grid-template-rows: 0.9fr 1fr;
}

.row-cols-6#top {
    grid-row: 1/2;
    display: inline-flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 10%;
}

.row-cols-6#btm {
    grid-row: 2/3;
}

.col-md-12 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1400px;
    }
}